*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100vw;
  height: 100vh;
}

body main{
  height: 100%;
  position: relative;
  background-color: #f2f2f2;
  /* display: flex; */
}


body main .tools{
  position: absolute;
  top: 40%;
  left: .5rem;
  padding: .3rem;
  /* bottom: 50%; */
  /* width: 20px; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(5, 0, 56, 0.08);
}

body .tools .tool{
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .tools .tool:hover{
  background-color: #D9E0FF;
}

body .tools .active{
  background-color: #D9E0FF;
}

body .tools .tool i{
  font-size: 1.5rem;
}

body .tools .color div{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
}

body .tools .tool input{
  border: none;
  opacity: 0;
  cursor: pointer;
}

body .examples{
  position: absolute;
  top: .5rem;
  left: 40%;
  /* right: 50%; */
  border-radius: 5px;
  gap: .5rem;
  display: flex;
  box-shadow: 0px 2px 10px rgba(5, 0, 56, 0.08);
  padding: .3rem;
  background-color: #fff;
}

body .examples .example{
  cursor: pointer;
  transition: all .3s ease;
  /* border: 1px solid #808080; */
  border-radius: 5px;
  padding: .3rem;
}

body .examples .example:hover{
  /* transform: scale(1.1); */
  background-color: #D9E0FF;
}

body .examples img{
  width: 100px;
}


body main canvas{
  /* background-color: red; */
  margin: 0;
  margin: 0;
  width: 100%;
  height: 99%;
  /* height: 1200px; */
  /* position: absolute;
  top: 1rem;
  left: 1rem; */
  /* bottom: 1rem;
  right: 1rem; */
}


.btnRun{
  position: absolute;
  right: 2rem;
  bottom:2rem;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  /* background-color: rgb(0, 0, 0); */
  /* border: 3px solid rgb(143, 143, 143); */
  border: none;
  box-shadow: 0px 1px 8px rgba(0, 0,2, .2);
  transition: all .2s ease;
}

.btnRun:active{
  background-color: rgb(235, 235, 235);
}

.btnRun i{
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}

.tools .node-picker{
  position: relative;
}

.tools .listNodes{
  transition: all .3s ease;
}

.tools .listNodes .circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tools .listNodes .nodeBInicio .circle{
  background-color: #6163FF;
}

.tools .listNodes .nodeP .circle {
  background-color: #000000;
}

.tools .listNodes .nodeBFin .circle{
  background-color: #54202F;
}

.tools .listNodesShow{
  display: flex;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  left: 0;
  box-shadow: 0px 1px 8px rgba(0, 0,2, .2);
  transition: all .1s ease;
}

.tool .listNodesHidden .tool{
  background-color: transparent;
}

.tools .listNodesHidden > :not(:first-child){
  display: none;
  transition: all .1s ease;
}


.coordenadas{
  position: absolute;
  height: 30px;
  width: 150px;
  /* background-color: black; */
  bottom: .8rem;
  border-radius: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0,2, .2);
  left: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.coordenadas span{
  font-size: 20px;
}

.table{
  text-align: center;
  /* border-radius: 20px; */
}


.divTabla{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgba(0,0,0,.9);
  padding: 100px 30% 100px 30%;
}